*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #242F40;
  text-align: center;
}

.heading,
.message{
  margin-top: 5px;
  font-size: 3rem;
  color: #CCA43B;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.7);
  font-size: 9vmin;
  background-color: #E5E5E5;
  color: #363636;
  cursor: pointer;
}

#reset-btn,
#new-btn{
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: #CCA43B;
  color: #1C0B19;
  font-family: Ubuntu;
  font-weight: 7  00;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.15s;
}

#reset-btn:hover,
#new-btn:hover{
  opacity: 0.8;
}



.victory-msg{
  height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;  
}

.hidden{
  display: none;
}

